@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

/*Geometria*/

@font-face{
    font-family: "Geometria";
    src: url("../fonts/geometrica/geometria-light.ttf") format("truetype"),
    url("../fonts/geometrica/geometria-light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap; //прописать для каждого
}

@font-face{
    font-family: "Geometria";
    src: url("../fonts/geometrica/geometria.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Geometria";
    src: url("../fonts/geometrica/geometria-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: "Geometria";
    src: url("../fonts/geometrica/geometria-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "Geometria";
    src: url("../fonts/geometrica/geometria-extrabold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}