/* Error: Undefined mixin.
 *    ,
 * 32 | /   +adaptive($mobile)
 * 33 | \     width: 290px
 *    '
 *   kit.sass 32:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 32 \2502  \250c    +adaptive($mobile)\a 33 \2502  \2514      width: 290px\a    \2575 \a   kit.sass 32:3  root stylesheet";
}
